export(lookfor)
export(lookin)
S3method(lookin, "character")
S3method(lookin, "numeric")
S3method(lookin, "logical")
S3method(lookin, "factor")
S3method(lookin, "data.frame")
S3method(lookin, "matrix")
S3method(lookin, "list")
S3method(lookin, "pairlist")
S3method(lookin, "environment")
S3method(lookin, "function")
